<form name="form1" action="produtos" method="post">
    <h3>Novo Produto: </h3>
    <input type="text" class="form-control" name="descricao" id="descricao" placeholder="Descrição"><br>
    <input type="text" class="form-control" name="valor" id="valor" placeholder="Valor"><br>
    <input type="text" class="form-control" name="marca" id="marca" placeholder="Marca"><br>
    <input type="submit" class="btn btn-success" name="btnSubmit" id="btnSubmit" value="Salvar">
    <a href="produtos/" class="btn btn-secondary">Voltar</a>
</form>