<form name="form1" action="clientes/novo" method="post">
    <h3>Novo Cliente: </h3>
    <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome"><br>
    <input type="text" class="form-control" name="documento" id="documento" placeholder="Documento"><br>
    <input type="text" class="form-control" name="profissao" id="profissao" placeholder="Profissão"><br>
    <input type="submit" class="btn btn-success" name="btnSubmit" id="btnSubmit" value="Salvar">
    <a href="../" class="btn btn-secondary">Voltar</a>
</form>